{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'media/app_img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>home</title>
</head>
<body>
    
    <div class="container-fluid px-1 py-2 mx-auto">
        <!-- alerte-->
        <div class="alert alert-success" role="alert" style="display: none;">
            <div class="d-flex gap-4">
              <span><i class="fa fa-info text-success"></i></span>
              <div>
                <p>Résultat de la prédiction : {{prediction}}</p>
              </div>
            </div>
          </div>
          <!-- alerte-->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3 class="titre">RS MAURITANIE CLASSIFICATION DE MENAGES PAUVRES</h3>
                <form class="form-card" id="myForm" method="post" action="{% url 'predict_model' %}">
                    {% csrf_token %}
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="icon-tab-0" data-bs-toggle="tab" href="#icon-tabpanel-0" role="tab" aria-controls="icon-tabpanel-0" aria-selected="true"><i class="fa fa-water"></i> Santé Edu Eaux</a>
                        </li>
                        <li class="nav-item" role="presentation">
                        <a class="nav-link" id="icon-tab-1" data-bs-toggle="tab" href="#icon-tabpanel-1" role="tab" aria-controls="icon-tabpanel-1" aria-selected="false"><i class="fa fa-bolt"></i> Elect Elec-menagé</a>
                        </li>
                        <li class="nav-item" role="presentation">
                        <a class="nav-link" id="icon-tab-2" data-bs-toggle="tab" href="#icon-tabpanel-2" role="tab" aria-controls="icon-tabpanel-2" aria-selected="false"><i class="fa fa-home"></i>Logtm Terre</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="icon-tab-3" data-bs-toggle="tab" href="#icon-tabpanel-3" role="tab" aria-controls="icon-tabpanel-3" aria-selected="false"><i class="fa fa-dog"></i>Transp Betail</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="icon-tab-4" data-bs-toggle="tab" href="#icon-tabpanel-4" role="tab" aria-controls="icon-tabpanel-4" aria-selected="false"><i class="fa fa-save"></i></a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="icon-tab-5" data-bs-toggle="tab" href="#icon-tabpanel-5" role="tab" aria-controls="icon-tabpanel-5" aria-selected="false"><i class="fa fa-chart"></i>resultat</a>
                        </li>
                    </ul>
                <div class="tab-content" id="tab-content">
                    <!-- debut de la table liste-->
                    <div class="tab-pane active" id="icon-tabpanel-0" role="tabpanel" aria-labelledby="icon-tab-0">
                        <div class="card">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenLogStatFK<span class="text-danger"> *</span></label> <input type="text" id="MenLogStatFK" name="MenLogStatFK" placeholder="" onblur="validate(1)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossLogmtFK<span class="text-danger"> *</span></label> <input type="text" id="MenPossLogmtFK" name="MenPossLogmtFK" placeholder="" onblur="validate(2)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">etSupT<span class="text-danger"> *</span></label> <input type="text" id="etSupT" name="etSupT" placeholder="" onblur="validate(3)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">autT<span class="text-danger"> *</span></label> <input type="text" id="autT" name="autT" placeholder="" onblur="validate(4)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">etSupAutT<span class="text-danger"> *</span></label> <input type="text" id="etSupAutT" name="etSupAutT" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">ancienEtatBC<span class="text-danger"> *</span></label> <input type="text" id="ancienEtatBC" name="ancienEtatBC" placeholder="" onblur="validate(5)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">ancienEtatMC<span class="text-danger"> *</span></label> <input type="text" id="ancienEtatMC" name="ancienEtatMC" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">ancienEtatAC<span class="text-danger"> *</span></label> <input type="text" id="ancienEtatAC" name="ancienEtatAC" placeholder="" onblur="validate(6)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">ancienEtatVolailles<span class="text-danger"> *</span></label> <input type="text" id="ancienEtatVolailles" name="ancienEtatVolailles" placeholder="" onblur="validate(6)"> </div>
                            </div>
                        </div>
                    </div>
                    <!-- fin de la table liste-->

                    <!-- debut de la table liste-->
                    <div class="tab-pane" id="icon-tabpanel-1" role="tabpanel" aria-labelledby="icon-tab-1">
                        <div class="card">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossFer<span class="text-danger"> *</span></label> <input type="text" id="MenPossFer" name="MenPossFer" placeholder="" onblur="validate(1)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossTelv<span class="text-danger"> *</span></label> <input type="text" id="MenPossTelv" name="MenPossTelv" placeholder="" onblur="validate(2)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossCB<span class="text-danger"> *</span></label> <input type="text" id="MenPossCB" name="MenPossCB" placeholder="" onblur="validate(3)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossCuisMdrn<span class="text-danger"> *</span></label> <input type="text" id="MenPossCuisMdrn" name="MenPossCuisMdrn" placeholder="" onblur="validate(4)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossTelFix<span class="text-danger"> *</span></label> <input type="text" id="MenPossTelFix" name="MenPossTelFix" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossTelPort<span class="text-danger"> *</span></label> <input type="text" id="MenPossTelPort" name="MenPossTelPort" placeholder="" onblur="validate(5)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossChauffEau<span class="text-danger"> *</span></label> <input type="text" id="MenPossChauffEau" name="MenPossChauffEau" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossMachLav<span class="text-danger"> *</span></label> <input type="text" id="MenPossMachLav" name="MenPossMachLav" placeholder="" onblur="validate(6)"> </div>
                                
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossPrg<span class="text-danger"> *</span></label> <input type="text" id="MenPossPrg" name="MenPossPrg" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossCharet<span class="text-danger"> *</span></label> <input type="text" id="MenPossCharet" name="MenPossCharet" placeholder="" onblur="validate(6)"> </div>
                            </div>
                            
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossSalon<span class="text-danger"> *</span></label> <input type="text" id="MenPossSalon" name="MenPossSalon" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossLitMat<span class="text-danger"> *</span></label> <input type="text" id="MenPossLitMat" name="MenPossLitMat" placeholder="" onblur="validate(6)"> </div>
                            </div>
                    
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossBrt<span class="text-danger"> *</span></label> <input type="text" id="MenPossBrt" name="MenPossBrt" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossRefr<span class="text-danger"> *</span></label> <input type="text" id="MenPossRefr" name="MenPossRefr" placeholder="" onblur="validate(6)"> </div>
                                
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossAntenne<span class="text-danger"> *</span></label> <input type="text" id="MenPossAntenne" name="MenPossAntenne" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossRadio<span class="text-danger"> *</span></label> <input type="text" id="MenPossRadio" name="MenPossRadio" placeholder="" onblur="validate(6)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossVoiture<span class="text-danger"> *</span></label> <input type="text" id="MenPossVoiture" name="MenPossVoiture" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossClim<span class="text-danger"> *</span></label> <input type="text" id="MenPossClim" name="MenPossClim" placeholder="" onblur="validate(6)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">MenPossOrd<span class="text-danger"> *</span></label> <input type="text" id="MenPossOrd" name="MenPossOrd" placeholder="" onblur="validate(6)"> </div>
                            </div>
                        </div>
                    </div>
                    <!-- fin de la table liste-->

                    <!-- debut de la table liste-->
                    <div class="tab-pane" id="icon-tabpanel-2" role="tabpanel" aria-labelledby="icon-tab-2">
                        <div class="card">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossVent<span class="text-danger"> *</span></label> <input type="text" id="MenPossVent" name="MenPossVent" placeholder="" onblur="validate(1)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossInternet<span class="text-danger"> *</span></label> <input type="text" id="MenPossInternet" name="MenPossInternet" placeholder="" onblur="validate(2)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossMoto<span class="text-danger"> *</span></label> <input type="text" id="MenPossMoto" name="MenPossMoto" placeholder="" onblur="validate(3)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossGrpEl<span class="text-danger"> *</span></label> <input type="text" id="MenPossGrpEl" name="MenPossGrpEl" placeholder="" onblur="validate(4)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossMatelas<span class="text-danger"> *</span></label> <input type="text" id="MenPossMatelas" name="MenPossMatelas" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossAutreMeubl<span class="text-danger"> *</span></label> <input type="text" id="MenPossAutreMeubl" name="MenPossAutreMeubl" placeholder="" onblur="validate(5)"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">probNour<span class="text-danger"> *</span></label> <input type="text" id="probNour" name="probNour" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenTypLogeFK<span class="text-danger"> *</span></label> <input type="text" id="MenTypLogeFK" name="MenTypLogeFK" placeholder="" onblur="validate(6)"> </div>
                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenMatToitLogeFK<span class="text-danger"> *</span></label> <input type="text" id="MenMatToitLogeFK" name="MenMatToitLogeFK" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenMatMurLogeFK<span class="text-danger"> *</span></label> <input type="text" id="MenMatMurLogeFK" name="MenMatMurLogeFK" placeholder="" onblur="validate(6)"> </div>
                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenNatSolLogeFK<span class="text-danger"> *</span></label> <input type="text" id="MenNatSolLogeFK" name="MenNatSolLogeFK" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenTypToiletFK<span class="text-danger"> *</span></label> <input type="text" id="MenTypToiletFK" name="MenTypToiletFK" placeholder="" onblur="validate(6)"> </div>
                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenSECuisFK<span class="text-danger"> *</span></label> <input type="text" id="MenSECuisFK" name="MenSECuisFK" placeholder="" onblur="validate(6)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenSEEclFK<span class="text-danger"> *</span></label> <input type="text" id="MenSEEclFK" name="MenSEEclFK" placeholder="" onblur="validate(6)"> </div>
                            </div>
                        </div>
                    </div>
                   <!-- fin de la table liste-->
                   <!-- debut de la table liste-->
                   <div class="tab-pane" id="icon-tabpanel-3" role="tabpanel" aria-labelledby="icon-tab-3">
                    <div class="card">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPSouceEauFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPSouceEauFK" name="MenPPSouceEauFK" placeholder="" onblur="validate(1)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPMarcheFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPMarcheFK" name="MenPPMarcheFK" placeholder="" onblur="validate(2)"> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPTransportFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPTransportFK" name="MenPPTransportFK" placeholder="" onblur="validate(3)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPEcolePrimFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPEcolePrimFK" name="MenPPEcolePrimFK" placeholder="" onblur="validate(4)"> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPCollegeFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPCollegeFK" name="MenPPCollegeFK" placeholder="" onblur="validate(6)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPStructSanteFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPStructSanteFK" name="MenPPStructSanteFK" placeholder="" onblur="validate(5)"> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPEtatCivilFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPEtatCivilFK" name="MenPPEtatCivilFK" placeholder="" onblur="validate(6)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPTeleServicesFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPTeleServicesFK" name="MenPPTeleServicesFK" placeholder="" onblur="validate(6)"> </div>
                        </div>


                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPdistSourceEauFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPdistSourceEauFK" name="MenPPdistSourceEauFK" placeholder="" onblur="validate(6)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPdistMarcheFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPdistMarcheFK" name="MenPPdistMarcheFK" placeholder="" onblur="validate(6)"> </div>
                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPdistTransportFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPdistTransportFK" name="MenPPdistTransportFK" placeholder="" onblur="validate(6)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPdistEcolePrimFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPdistEcolePrimFK" name="MenPPdistEcolePrimFK" placeholder="" onblur="validate(6)"> </div>
                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPdistCollegeFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPdistCollegeFK" name="MenPPdistCollegeFK" placeholder="" onblur="validate(6)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPdistStructSanteFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPdistStructSanteFK" name="MenPPdistStructSanteFK" placeholder="" onblur="validate(6)"> </div>
                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPdistEtatCivilFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPdistEtatCivilFK" name="MenPPdistEtatCivilFK" placeholder="" onblur="validate(6)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPossInternet<span class="text-danger"> *</span></label> <input type="text" id="MenPossInternet" name="MenPossInternet" placeholder="" onblur="validate(6)"> </div>
                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPPdistTeleServicesFK<span class="text-danger"> *</span></label> <input type="text" id="MenPPdistTeleServicesFK" name="MenPPdistTeleServicesFK" placeholder="" onblur="validate(6)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenTerHabit<span class="text-danger"> *</span></label> <input type="text" id="MenTerHabit" name="MenTerHabit" placeholder="" onblur="validate(6)"> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">montMens<span class="text-danger"> *</span></label> <input type="text" id="montMens" name="montMens" placeholder="" onblur="validate(6)"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">nbrBovinCamelins<span class="text-danger"> *</span></label> <input type="text" id="nbrBovinCamelins" name="nbrBovinCamelins" placeholder="" onblur="validate(6)"> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">nbrMoutonsChevres<span class="text-danger"> *</span></label> <input type="text" id="nbrMoutonsChevres" name="nbrMoutonsChevres" placeholder="" onblur="validate(6)"> </div>
                        </div>
                        
                    </div>
                    </div>
                        <!-- fin de la table liste-->
                    
                        <!-- debut de la table liste-->
                        <div class="tab-pane" id="icon-tabpanel-4" role="tabpanel" aria-labelledby="icon-tab-4">
                            <div class="card">
                                <div class="row justify-content-between text-left">
                                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">nbrAnsChevaux<span class="text-danger"> *</span></label> <input type="text" id="nbrAnsChevaux" name="nbrAnsChevaux" placeholder="" onblur="validate(6)"> </div>
                                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">nbrVolailles<span class="text-danger"> *</span></label> <input type="text" id="nbrVolailles" name="nbrVolailles" placeholder="" onblur="validate(6)"> </div>
                                </div>
                                <div class="row justify-content-between text-left">
                                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenNbrMembr<span class="text-danger"> *</span></label> <input type="text" id="MenNbrMembr" name="MenNbrMembr" placeholder="" onblur="validate(6)"> </div>
                                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">MenPSAEBFK<span class="text-danger"> *</span></label> <input type="text" id="MenPSAEBFK" name="MenPSAEBFK" placeholder="" onblur="validate(6)"> </div>
                                </div>
                                <div class="row justify-content-between text-left">
                                    <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">MenNbrPiecesLog<span class="text-danger"> *</span></label> <input type="text" id="MenNbrPiecesLog" name="MenNbrPiecesLog" placeholder="" onblur="validate(6)"> </div>
                                </div>
                                <div class="row justify-content-end mt-2">
                                    <img class="logo_mauritanie" alt="Cinque Terre" src="{% static 'media/app_img/logo.svg' %}">
                                    <div class="form-group col-sm-6 mt-2">
                                        <button type="submit" class="btn-block btn-primary">Valider</button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fin de la table liste-->

                        <!-- debut de la table liste-->
                        <div class="tab-pane" id="icon-tabpanel-5" role="tabpanel" aria-labelledby="icon-tab-5">
                            <div class="card">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Resultat</th>
                                        <th scope="col">Date</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in results %}
                                      <tr>
                                        <th scope="row">{{data.id}}</th>
                                        {% if data.result == 1 %}
                                        <td>Pauvre</td>
                                        {% else %}
                                        <td>Non Pauvre</td>
                                        {% endif %}
                                        <td>{{ data.created_at}}</td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        <!-- fin de la table liste-->
                </div>
                </form>
            </div>
        </div>
    </div>


<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
              
</body>
</html>